@(product: Product)(implicit lang: Lang)

@main(Messages("product.name", product.name)) {
    <h2>@product.name</h2>
    <div class="ui horizontal list">
        <div class="item">
            <div class="content">
                <div class="header">@Messages("ean")</div>
                @product.ean
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">@Messages("name")</div>
                @product.name
            </div>
        </div><div class="item">
        <div class="content">
            <div class="header">@Messages("description")</div>
            @product.description
        </div>
    </div>
    </div>
}