@(products: List[Product])(implicit lang: Lang, flash: Flash)

    @main(Messages("application.name")) {
        <h2>@Messages("application.name")</h2>
        <div class="row">
            <ul>
            @for(product <- products) {
                <li>
                    <a href="@routes.Products.details(product.ean)">@product.name</a>
                    <small>@product.description</small>
                    <a class="btn" href="@routes.Products.editProduct(product.ean)">Edit</a>
                    <a class="btn btn-danger btn-sm" data-url="@routes.Products.delete(product.ean)">Delete</a>
                </li>
            }
            </ul>
        </div>
    }